<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zmj.weibomonitor">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="屌丝微博监视器"
        android:icon="@mipmap/diao_logo"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DisplayActivity"></activity>

        <service
            android:name="com.zmj.weibomonitor.ConnectService"
            android:process=":ConnectService"><!--冒号开头，进程私有--><!--进程名字叫com.zmj.weibomonitor:ConnectService-->
        </service>
        <service
            android:name="com.zmj.weibomonitor.KeepAliveService"
            android:process=":KeepAliveService"><!--冒号开头，进程私有--><!--进程名字叫com.zmj.weibomonitor:KeepAliveService-->
        </service>

        <receiver android:name=".WakeBroadcastReceiver"/>

    </application>
</manifest>